body {
	background-color: #ffffff;
    color: #333333;
	font-family: Verdana, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
    width: 100%;
    margin: 0;
}

#content h1 {
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-weight: normal;
    position: relative;
}

#content h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    border-bottom: 3px solid #aaaaaa;
}

#content h2 {
    border-left: 5px solid #8888ee;
    padding-left: 5px;
    padding-bottom: 2px;
    font-weight: normal;
    position: relative;
}

#content h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    border-bottom: 2px solid #aaaaaa;
}

#content h3 {
    border-bottom: 2px solid black;
    padding-left: 5px;
    font-weight: normal;
}

#content p {
	text-indent: 10px;
}

#content li {
	padding: 2px;
}

a:link {
	color : #3c3ccc;
	background: transparent;
}
a:visited {
	color : #3c3c9c;
	background: transparent;
}
a:hover {
	color :#3c3c9c;
	background-color : #dddddd;
}
a:active {
	color : #3c3ccc;
	background : transparent;
}

table {
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
}

table.placer {
	border: none;
}

table.placer td{
	border: none;
}

tr.thead{
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
}

td{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

.locate {
	font-size: 15px;
	background-color: #EEEEEE;
	border-top: black 2px solid;
	border-bottom: black 2px solid;
}

.locate a{
	text-decoration:none;
}

#wrapper {
    max-width: 900px;
    text-align: left;
    margin: 10px auto;
}

#header {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    font-size: 24px;
    background-color: #f3f5f7;
    border-bottom: #999999 1px solid;
    display: flex;
}

#title {
    text-align: left;
    flex: 1;
}

#title a {
	color : black;
    text-decoration: none;
    margin-left: 10px;
}

#title a:link {
	background: transparent;
}
#title a:visited {
	background: transparent;
}
#title a:hover {
	background-color : #dddddd;
}
#title a:active {
	background : transparent;
}

#topmenu {
    overflow: auto;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#menu_entry {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

#menu_entry a {
    text-decoration: none;
}

#menu_lang {
    white-space: nowrap;
    text-align: right;
    flex: 1;
}

#menu_lang a {
    text-decoration: none;
}

#sidebar {
    width: 24%;
    float: left;
}

.sidemenu {
    border: 1px solid black;
}

.sidemenu_head {
    background-color: #10103b;
    color: #eeeeff;
    width: 100%;
    margin-bottom: 2px;
    font-size: 18px;
}

.sidemenu_group {
    margin-left: 20px;
}

pre {
    font-size: 14px;
    font-family: Courier, monospace;
    border: 1px solid gray;
    background-color: white;
    -o-tab-size: 2;
    -moz-tab-size: 2;
    tab-size: 2;
}

#content {
    width: 100%;
}
