<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 
<html lang="ja">
<head>{% assign dep = {{{{{{page.url | append:"a"}} | split:"/"}} | size }} %}{% assign dep = {{dep | minus:2 }} %}{% assign relative = '' %}{% for i in (1..dep) %}{% assign relative = {{relative | append:'../'}}%}{% endfor %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{relative}}css/default.css" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="title">semiexp's labo</div>
        </div>

        <div id="sidebar">
            <div class="sidemenu">
                <div class="sidemenu_head">Contents </div>
                {%if page.group == 'home' %}ホーム{%else%}<a href="{{relative}}index_ja.html">ホーム</a>{%endif%}
                <div class="sidemenu_group">
{% assign idx_pages = (site.pages | where: "group", "idx_ja") %} {% assign idx_pages = (idx_pages | sort: "title_en") %}
{%for node in idx_pages%}{%if node.title == page.title %}{{node.title}} <br />{%else%}<a href="{{relative}}{{node.url | replace_first:'/',''}}"> {{node.title}} </a> <br />{%endif%}
{%endfor%}
                </div>
            </div>
            <br />
            Lang: [{%if page.en_version != null %}<a href="{{ page.en_version }}">en</a>{%else%}en{%endif%} / ja]
        </div>

        <div id="content">
            <h1> {{ page.title }} </h1>
{{ content }}

        </div>
    </div>
</body>
</html> 
