<!DOCTYPE html> 
<html lang="ja">
<head>
{% assign dep = {{{{{{page.url | append:"a"}} | split:"/"}} | size }} %}{% assign dep = {{dep | minus:2 }} %}{% assign relative = '' %}{% for i in (1..dep) %}{% assign relative = {{relative | append:'../'}}%}{% endfor %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{relative}}css/default.css" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="title"><a href="{{relative}}index.html">semiexp.net</a></div>
			<div id="topmenu">
				<div id="menu_entry"><a href="{{relative}}blog/index.html">Blog</a></div>
				<div id="menu_entry"><a href="{{relative}}docs/index.html">Documents</a></div>
				<div id="menu_entry"><a href="{{relative}}slitherlink/index.html">Slitherlink</a></div>
				<div id="menu_lang">
					[en/{%if page.ja_version != null %}<a href="{{ page.ja_version }}">ja</a>{%else%}ja{%endif%}]
				</div>
			</div>
        </div>

        <div id="content">
            <h1> {{ page.title }} </h1>
{{ page.date | date:'%Y-%m-%d'}} | 
{% for ct in page.categories %}
[{{ct}}]
{% endfor %}

{{ content }}

        </div>
    </div>
</body>
</html> 
